@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Email подтвержден</title>
</head>
<body>
<div>
    <h3 style="margin-top: 100px;">
    Вы успешно подтвердили адрес электронной почты! Вы можете зайти на сайт указав свой логин и пароль.
    </h3>
</div>
</body>
</html>
