@model WebShop.IdentityServer.ViewModels.ForgotPasswordViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password</title>
    <link type="text/css" rel="stylesheet" href="~/css/form.css"/>
</head>
<body>
<form method="post" asp-controller="Auth" asp-action="ForgotPassword">

    <input type="hidden" asp-for="ReturnUrl">

    <div class="field">
        <div class="input-field">
            <label for="Email">Ваш Email:</label>
            <input asp-for="Email" type="text">
        </div>
        <span asp-validation-for="Email"></span>
        <span>@ViewBag.Message</span>
    </div>

    <div class="field button-submit">
        <button type="submit">
            Восстанавить пароль<i style="margin-left: 15px" class="fas fa-sign-in-alt"></i>
        </button>
    </div>

</form>
</body>
</html>
