@model WebShop.IdentityServer.ViewModels.ResetPasswordViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password</title>
    <link type="text/css" rel="stylesheet" href="~/css/form.css"/>
</head>
<body>
<form method="post" asp-controller="Auth" asp-action="ResetPassword">

    <input asp-for="ReturnUrl" type="hidden">
    <input asp-for="Token" type="hidden">
    <input asp-for="Email" type="hidden">

    <div class="field">
        <div class="input-field">
            <label for="Password">Новый пароль:</label>
            <input asp-for="Password" type="text">
        </div>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="field">
        <div class="input-field">
            <label for="ConfirmPassword">Подтвердите новый пароль:</label>
            <input asp-for="ConfirmPassword" type="text">
        </div>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="field button-submit">
        <button type="submit">
            Сменить пароль<i style="margin-left: 15px" class="fas fa-sign-in-alt"></i>
        </button>
    </div>

    <span asp-validation-summary="All"></span>
    <span style="color: #9f0000">
        @ViewBag.Message
    </span>

</form>
</body>
</html>
