@{
    ViewBag.Title = "";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.ErrorTitle</title>
    <link type="text/css" rel="stylesheet" href="~/css/form.css"/>
</head>

<body>
    <h3 style="margin-top: 30px;">@ViewBag.Message</h3>
</body>
</html>
