@{
    ViewBag.ErrorTitle = "Error";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.ErrorTitle</title>
    <link type="text/css" rel="stylesheet" href="~/css/form.css"/>
</head>

<body>
    <h3 style="margin-top: 100px;">@ViewBag.Error</h3>
</body>
</html>
