.header__body {
  background-color: #fff;
}

.header__row {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header__contacts {
  max-width: 500px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
}

.header__contact {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header__contact:first-child {
  margin: 0 55px 0 0;
}

.header__contact i {
  transform: scale(2);
  margin: 0 20px 0 0;
}

.header__nav {

}

.header__auth {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
}

.auth {}
.auth__icon {
  transform: scale(1.5);
  margin: 0 15px 4px 0;
}

.header__user {

}

.user{
  display: flex;
  align-items: center;
}
.user__avatar{
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
  margin: 0 10px 0 0;
}
.user__avatar img {
  width: 45px;
  height: 45px;
}
.user__name {}


